body{
    background-color: rgb(163, 117, 36);

}
h1{
    color: rgb(139, 37, 37);

}
.div1{
    position: fixed;
    text-align: center;
    margin: 50px 50px;

}
.div1 p{
    font-size: x-large;
    font-weight: bold;
}
.div1 p a{
    font-size: x-large;
    color: rgba(6, 36, 61, 0.795);
}
.div1 p a:hover{
    color: white;
}
section{
    text-align: left;
}
.div2{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: larger;
    font-weight: 600;
}

.div2 input:hover{
    color: rgb(9, 179, 99);
    
    
}
.div2 section
{
    text-align: left;
    margin: 20px 30px;
    color: blue;
}
li,li1 .div2{
    list-style-type: none;
} 
.div2 h3{
    text-align: center;
}
nav{
	font-style: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif,sans-serif;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
li{
	padding-right: 10%;
	float: left;
}
li a{
	display: block;
}